<section class="panel-pane pane-texto">
    <div class="pane-content">
        <div class="">
            <div class="">
                <div class="row m-y-3">
                    <div class="col-md-8 col-md-offset-2">
                        <div id="campaign-alert" class="alert alert-warning">
                            <div class="media">
                                <div class="media-left">
                                    <div class="media-left"> <i aria-hidden="true" class="fa fa-info fa-fw fa-4x text-warning" title="Información Importante"></i> <span class="sr-only">Información Importante</span></div>
                                </div>
                                <div class="media-body  text-warning">
                                    <p class="margin-0">&nbsp;</p>
                                    <p><a href="https://www.argentina.gob.ar/circular" class=" text-warning">Solicitá el certificado de circulación y descargá la app Cuidar – Covid 19</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>