<div class="jumbotron_bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li>
                        <div class="dropdown">
                            <ul class="list-inline pull-left">
                                <li>
                                    <a href="/">Inicio</a>
                                </li>
                                <li>
                                    <a href="/simulador">Simulador de Habilitaciones</a>
                                </li>
                                <li>
                                    <a href="/solicita">Solicitar Asesoramiento</a>
                                </li>
                                <li>
                                    <a href="/pasoapaso">Pasos a Seguir</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
