<article>
    <h2 class="vcenter eje text-center">{{.Title}}</h2>
    <section class="bg-gray section-sm">
       <div class="">
          <div class="panel-pane pane-atajos">
              <div class="pane-content row flex m-y-2">
               {{ range .Params.wildcards_title }}
                 <ul class="nav nav-icons nav-icons-selected">
                    <li class="">
                       <a href="#">
                        <i class="{{.icon}} bg-info"></i>
                        <span>{{.title}}</span>
                       </a>
                     </li>
                 </ul>
                 {{end}}
             </div>
         </div>
       </div> 
    </section>
 </article>

