<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-inline">
                <li>
                    <div class="dropdown">
                        <ul class="list-inline ">
                            <li class="first expanded dropdown"><a href="/transporte/transparencia" data-target="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">La ciudad <span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li class="first leaf"><a href="/transporte/transparencia/autoridades-personal">La ciudad</a></li>
                                    <li class="leaf"><a href="/transporte/transparencia/compras">Compras y contrataciones</a></li>
                                    <li class="leaf"><a href="/transporte/transparencia/declaracionesjuradas">Declaraciones juradas de funcionarios</a></li>
                                    <li class="leaf"><a href="/transporte/transparencia/pedirinformacion">Pedir información pública</a></li>
                                    <li class="leaf"><a href="/transporte/transparencia/presupuesto">Presupuesto</a></li>
                                    <li class="last leaf"><a href="/transporte/transparencia">Ver toda la información de transparencia de este organismo</a></li>
                                </ul>
                            </li>
                            <li class="last expanded dropdown"><a href="/" data-target="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Institucional <span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="first leaf"><a href="/institucional/politica-de-calidad">Política de calidad</a></li>
                                    <li class="last leaf"><a href="/inicio/ministerio%20de%20transporte/politica-antisoborno">Política Antisoborno</a></li>
                                </ul>
                            </li>
                            <li class="first "><a href="/transporte/transparencia">Trámites y servicios</a>
                            </li>
                            <li class="first "><a href="/noticias">Noticias</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            {{ if .Section }} {{ end }}
            <!--ol class="breadcrumb">
                <li><a href="/">Inicio</a></li>
                <li class="active">Ministerio de Transporte</li>
            </ol-->
        </div>
    </div>
</div>