{{ define "main" }} 
{{ partial "components/jumbotron-small" . }}
<article>
        <div class="container m-y-2">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 article-content">
                    <div class="title-description">
                        <div class="row">
                            <div class="row flex m-y-2">
                                <iframe class="hidden-xs" width="625" height="400" src="https://www.youtube.com/embed/GP6HJykfJW0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <iframe class="visible-xs" width="400" height="200" src="https://www.youtube.com/embed/GP6HJykfJW0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
{{ partial "components/news-grid.html" . }}
                            
                            {{.Content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</article>
{{end}}
