<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="region region-footer1">
                    <section id="block-menu-menu-footer-1" class="block block-menu clearfix">
                        <ul class="menu nav">
                            <li class="first leaf">Palacio Municipal | La Rioja 631</li>
                            <li class="leaf">SFV de Catamarca | Catamarca</li>
                            <li class="last leaf">República Argentina | CP K4700EMV</li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="region region-footer3">
                    <section id="block-menu-menu-footer-3" class="block block-menu clearfix">
                        <ul class="menu nav">
                            <li class="leaf"><a href="#">planificacionestrategica@catamarcaciudad.gob.ar</a></li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="region region-footer4">
                    <section id="block-menu-menu-footer-4" class="block block-menu clearfix">
                        <h2 class="block-title h3 section-title h3 section-title">¡Seguinos!</h2>
                        <div class="social-icons">
                            <a href="https://twitter.com/MuniSFVC" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-twitter fa-fw fa-3x "></i>
                            </a>
                            <a href="https://www.facebook.com/catamarcatucapital" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-facebook fa-fw fa-3x "></i>
                            </a>
                            <a href="https://www.youtube.com/channel/UCMAeIcE5sQa7chR-J13zlDw" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-youtube fa-fw fa-3x "></i>
                            </a>
                            <a href="https://www.instagram.com/catamarcacapital" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-instagram fa-fw fa-3x "></i>
                            </a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="col-sm-12 m-y-1 p-x-0">
                    <p> © 2021 Municipalidad de San Fernando del Valler de Catamarca - Argentina | Secretaría de Modernización y Gabinete
                        <a href="https://catamarcaciudad.gob.ar" target="_blank" rel="noopener noreferrer">
                            <img class="image-responsive pull-right" width="288" height="40" src="/assets/logo-azul.svg" alt="Argentina Unida">
                        </a>
                </div>
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link href="/css/icono-arg.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>