<body>
    <header>
        {{ partial "components/top-alert" . }}
        <nav class="navbar navbar-top navbar-default bg-azul-capital" role="navigation">
            <div class="container">
                <div>
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/" aria-label="Catamarca Capital">
                            <img alt="Catamarca Capital" src="/assets/logo.svg" height="50"> </a>
                        <!--a class="btn btn-mi-argentina btn-login visible-xs" href="/proyectos/mi-argentina/v3/">
                            <i class="icono-arg-mi-argentina fa-fw"></i>
                        </a>
                        <a class="btn bg-white btn-login visible-xs" href="#" onclick="$('.navbar.navbar-top').addClass('state-search');">
                            <span class="fa fa-search fa-fw"></span>
                        </a-->
                    </div>
                    <!--div class="nav navbar-nav navbar-right hidden-xs">
                        <a href="#" onclick="$('.navbar.navbar-top').removeClass('state-search');" class="btn btn-mi-argentina visible-xs"> <i class="fa fa-times"></i> </a>
                        <div style="float: left">
                            <div class="input-group">
                                <input id="buscar" type="text" class="form-control input-search" aria-label="Buscar trámites, servicios o áreas" placeholder="Buscar trámites, servicios o áreas ...">
                                <span class="input-group-btn">
                                    <button class="btn bg-white" type="button" aria-label="Buscar"><i class="fa fa-search text-primary"></i></button>
                                </span> 
                            </div>
                            </div>
                        <a href="#" aria-label="Ingresar a Mi Argentina" data-toggle="dropdown"> miArgentina</a> </div>
                </div >
                        </div-->
        </nav>
    </header>