{{ define "main" }}
<article>
    <header>
        
        <div class="container m-y-2">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 article-content {{$overlap}}">
                    <div class="title-description">
                        <h1>{{.Params.headline}}</h1>
                        {{.Params.teaser | markdownify}}
                        <div class="row">
                            <div class="section-actions col-sm-6 social-share">
                                <p>Compartir en <br> redes sociales</p>
                                <ul class="list-inline">
                                    <li>
                                        <a href="http://www.facebook.com/sharer.php?u={{.Permalink}}" target="_blank">
                                            <i class="fab fa-facebook fa-fw"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/share?url={{.Permalink}}&amp;text={{.Title}}&amp;hashtags=CatamarcaCapital"
                                            target="_blank"> <i class="fab fa-twitter "></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{.Permalink}}"
                                            target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="content_format">
        <div class="container  m-y-2">
            {{ if .Params.image }}
                {{ $imgSrc := .Params.image.src}}
                {{ with .Resources.Match .Params.image.src}}
                    {{ range . }}      
                    {{ $image := . }}
                    {{ if gt $image.Width 750}}
                        {{ $thumbnail := $image.Resize "750x" }}
                        {{ $imgFullSrc := $thumbnail.RelPermalink}}
                        {{$imgArraySrc := split  $imgFullSrc "/"}}
                        {{ range last 1 $imgArraySrc}}
                            {{ $imgSrc = .}}
                        
                        {{ end }}
                    {{else}}
                        {{ $imgSrc = .Params.image.src}}
                    {{end}}
                {{ end }}

            {{ end }}
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <img src="{{ $imgSrc }}" alt="{{.Params.imago.alt}}" class="responsive">
                </div>
            </div>
            {{ end }}

            <div class="row">
                <div class="col-md-8 col-md-offset-2 article-content">
                    {{.Content}}
                    {{ if .Params.document }}

                    <div class="downloads">
                        <hr>
                        <h4>Descargas</h4>
                        <div class="row row-flex">
                        {{ range .Params.document }}
                            
                        <div class="col-xs-12 col-sm-6">
                            <p class="text-muted m-b-1">{{.title}} </p>
                            <a class="btn btn-primary btn-sm" href="{{.src}}"><i class="fa fa-download"></i>&nbsp; Descargar
                                archivo</a>
                            </div>
                            {{ end }}
                            
                        </div>

                    </div>

                    {{ end }}
                    <hr>
                    <div class="section-actions is_area social-share">
                        <p>Compartir en <br> redes sociales</p>
                        <ul class="list-inline">
                            <li>
                                <a href="http://www.facebook.com/sharer.php?u={{.Permalink}}" target="_blank">
                                    <i class="fab fa-facebook fa-fw"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/share?url={{.Permalink}}&amp;text={{.Title}}&amp;hashtags=CatamarcaCapital"
                                    target="_blank"> <i class="fab fa-twitter "></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{.Permalink}}"
                                    target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>



                </div>
            </div>
        </div>
    </section>
</article>
{{ end }}